<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-vpn-detection" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Detect VPN</name>
  <description>Cordova plugin to detect active VPN connections on iOS</description>
  <license>MIT</license>
  <keywords>cordova, vpn, ios, network</keywords>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="VPNDetection">
        <param name="ios-package" value="VPNDetection"/>
      </feature>
    </config-file>

    <source-file src="src/ios/VPNDetection.m" />
    <header-file src="src/ios/VPNDetection.h" />
  </platform>
  <platform name="android">
    <config-file target="config.xml" parent="/*">
        <feature name="VPNDetection">
            <param name="android-package" value="com.example.vpndetection.VPNDetection" />
        </feature>
    </config-file>
    <source-file src="src/android/VPNDetection.java" target-dir="src/com/example/vpndetection" />
  </platform>
  <js-module src="www/VpnDetection.js" name="VPNDetection">
    <clobbers target="cordova.plugins.VpnDetection" />
  </js-module>
</plugin>

